<footer class="footer-navigation">
    <ul>
        <li>&copy; 2023 ShutterTrade</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</footer>
</body>

</html>