<footer class="footer-navigation">
    <ul>
        <li>&copy; 2023 ShutterTrade</li>
        <li><a href="/main/about">About</a></li>
        <li><a href="/main/contact">Contact</a></li>
    </ul>

</footer>
</body>

</html>