<%- include('./partials/header.ejs')%>

    <main>

        <h1>Cameras</h1>

        <div class="row">
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Camera 1</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Camera 2</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Camera 3</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Camera 4</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
        </div>

        <h1>Lenses</h1>

        <div class="row">
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Lens 1</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Lens 2</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Lens 3</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="trade.html">
                    <div class="card">
                        <img src="images/logo.png" alt="Sample image">
                        <h3>Lens 4</h3>
                        <p>Insert description here</p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>