<%- include('../partials/header.ejs')%>

    <main>

        <div class="form-container">
            <h2>List an Item</h2>
            <form action='/trades' method="post">
                <div class="form-row">
                    <div class="form-left">
                        <label for="itemName">Item Name</label>
                    </div>
                    <div class="form-right">
                        <input type="text" id="itemName" name="itemName" placeholder="Item name.." required minlength="2" maxlength="50">
                        <small class="form-error">Item name must be between 2 and 50 characters.</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-left">
                        <label for="category">Category</label>
                    </div>
                    <div class="form-right">
                        <input type="text" id="category" name="category" placeholder="Category.." required minlength="2" maxlength="50">
                        <small class="form-error">Item name must be between 2 and 50 characters.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-left">
                        <label for="status">Status</label>
                    </div>
                    <div class="form-right">
                        <select id="status" name="status">
                            <option value="Available">Available</option>
                            <option value="Unavailable">Unavailable</option>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-left">
                        <label for="details">Item Details</label>
                    </div>
                    <div class="form-right">
                        <textarea id="details" name="details" placeholder="Add item details.."
                            style="height:200px" required minlength="10" maxlength="750"></textarea>
                            <small class="form-error">Item name must be between 10 and 750 characters.</small>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" value="Create Trade">
                </div>
            </form>
        </div>


    </main>

    <%- include('../partials/footer.ejs')%>