<%- include('./partials/header.ejs')%>

    <main>
        <div class="trade-item">
            <img src="images/fuji_xt4.png" alt="Fujifilm XT4 Camera">
            <div class="item-details">
                <h1>Fujifilm X-T4 Camera</h1>
                <h2>Category: Cameras</h2>
                <h3>Details:</h3>
                <p>The Fujifilm XT4 is a high-performance mirrorless camera that is perfect for photographers of all
                    levels. With its 26.1 MP APS-C X-Trans CMOS 4 Sensor, 5-axis In-body Image Stabilization and 4K
                    Video Recording capabilities, it's sure to take your photography to the next level. The 3.69M-dot
                    OLED Electronic Viewfinder and 3.0" 1.04m-dot Tilting Touchscreen LCD allows you to easily compose
                    and review your shots.</p>
                <ul>
                    <li>26.1 MP APS-C X-Trans CMOS 4 Sensor</li>
                    <li>5-axis In-body Image Stabilization</li>
                    <li>4K Video Recording</li>
                    <li>3.69M-dot OLED Electronic Viewfinder</li>
                    <li>3.0" 1.04m-dot Tilting Touchscreen LCD</li>
                </ul>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>