<%- include('../partials/header.ejs')%>

<main>

    <div class="homepage">
        <h2>From Passion to Purpose</h2>
        <hr>
        <p>ShutterTrade was born from a passion for photography and a frustration with the limitations of traditional
            gear buying and selling. Our co-founders, a group of photographers from around the world, were tired of the
            high costs and limited options available to them. They saw a need for a platform where photographers could
            connect and trade gear with each other, saving money and increasing access to a wider variety of equipment.
        </p>
        <p>In 2023, ShutterTrade was launched with the goal of providing photographers with a safe, easy, and affordable
            way to buy, sell, and trade photography gear. Our team is made up of photographers and tech enthusiasts who
            are dedicated to making ShutterTrade the best it can be. We are always working on new features and
            improvements to make your experience even better.</p>
    </div>

    <div class="homepage">

        <h2>Our Mission</h2>
        <hr>
        <p>Our mission is to empower photographers of all levels by providing them with a platform to connect, trade,
            and grow their gear collections. We believe that photography is about more than just taking pictures, it's
            about capturing memories, telling stories, and expressing creativity. That's why we are committed to making
            ShutterTrade a place where photographers can come together and support each other's passions.</p>

        <p>Whether you're just starting out or a seasoned professional, ShutterTrade is here to help you get the gear
            you need to take your photography to the next level. We are proud to be a part of the photography community
            and we can't wait to see what you'll create with the help of ShutterTrade.</p>

    </div>
</main>

<%- include('../partials/footer.ejs')%>