body {
    font-family: Helvetica;
    margin: 0;
    width: 100%;
    background-color: #dadada;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
Header and User Navigation Styling 
 */

.site-header {
    border-bottom: 1px solid white;
    padding: .5em 1em;
    background-color: #333;
    color: #f2f2f2;
}

/* Set the text color for all links within the header */
.site-header a {
    color: #f2f2f2;
}

/* Clear any floating elements within the header */
.site-header::after {
    content: "";
    display: table;
    clear: both;
}

/* Float the site identity to the left */
.site-identity {
    float: left;
}

/* Style the site identity title */
.site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}

/* Style the site identity image */
.site-identity img {
    max-width: 55px;
    float: left;
    margin: 5px 10px 0 0;
}

/* Float the user navigation to the right */
.user-navigation {
    float: right;
    display: block;
}

/* Remove the default margins and padding for the user navigation list */
.user-navigation ul, li {
    margin: 0;
    padding: 0;
}

/* Display the user navigation list items as inline blocks */
.user-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

/* Change the text color and background color when hovering over a user navigation link */
.user-navigation a:hover {
    color: #333;
    background-color: #f2f2f2;
}

/*
Site-Specific Navigation Styles
*/

.site-navigation {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: #333;
    width: 100%;
    padding-left: 1.5em;
}

.site-navigation ul, li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: .7em 1em;
}

.site-navigation a:hover {
    color: #333;
    background-color: #f2f2f2;
}

/*
Footer Navigation Styles
 */

footer {
    background-color: #333;
    color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


footer li, footer p {
    display: inline-block;
    margin: .4em 1em;
}

/*
Homepage Style
*/

h1, h2 {
    text-align: center;
}

/* Sets main section margi and padding */
main {
    margin: 0;
    padding: 5px;
    padding-top: 5em;
}

/* Sets the background color and padding for text on homepage */
.homepage {
    background-color: #f2f2f2;
    margin: 5em;
    padding: 2em;
    border-radius: 15px;
    overflow: hidden;
}

/* Splits the text on homepage into two columns */
.left, .right {
    float: left;
    width: 50%;
}


.homepage li, .homepage ul {
    padding: 5px;
}

/*
Category and Trade Styles
*/

/* sets the box-sizing property for all elements to border-box */
* {
    box-sizing: border-box;
}

/* sets the font family for the body element */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* styles for the column class */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* styles for the row class */
.row {
    margin: 0 -5px;
    padding-bottom: 15em;
}

/* clears the float property for the row class */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Adds styling to the cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* Darkens the background of the card when hovering */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.card img {
    max-width: 100px;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/*
Styling for Trade
*/

.trade-item {
    margin: 5em;
}

.trade-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
Styling for New Trade
*/

/* Form input styles */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Label styles */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Submit button styles */
input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Form container styles */
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10% 10%;
}

/* Form left column styles */
.form-left {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Form right column styles */
.form-right {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Form row styles */
.form-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
    .form-left, .form-right, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}